a{margin:0; padding:0; color:inherit; cursor: hand;}

a:hover{margin:0; padding:0; color:inherit; text-decoration: none;
	
	 -webkit-transition:color 1s ease-in;  
   -moz-transition:color 1s ease-in;  
   -o-transition:color 1s ease-in;  
   transition:color 1s ease-in;  
}



.name{margin-top:15px; padding-bottom: 0; margin-bottom:45px; overflow:hidden; font-size: 85px;}
.nopadding{padding:0; margin:0;}
.row{padding:10px;}
*{
	font-family:'Cutive Mono', serif; color:black;
	}
	
	 
li{
	list-style: none;
	display:block;}
	
	
li:hover{
	color:white; 
	cursor:default;
	background-color:black;}

ul{padding:0;}


h1{font-family:'Cutive Mono', serif;
	font-size:85px;
	padding-top:0;
	line-height: .95;
	padding-bottom: 0;
	height:66px
	}
	
.right{z-index: 1;}

span{z-index: 100;}
.revisit{color:red; text-decoration: underline; cursor: inherit; z-index:2;}
	
.navigation{
padding-top:15px;
	padding-left:4px;
	display:block; 
	
	
	}
	

	
	.carousel-indicators li {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #000000;
  border-radius: 10px;
  
}

.carousel-indicators .active {
  width: 8px;
  height: 8px;
  margin: 0;
  background-color: black;
}

.imagecenter{display:block; margin-left:auto; margin-right:auto;}

.item .imagecenter{border:1px solid black;}
	
.navigationpages_item:active{background-color:maroon;}

.navigationpages{text-align: center; padding-bottom: 20px; }
.navigationpages_item{display:inline-block; text-align: center; width:15%; padding:4px;}
	

.logo{text-align: center; padding-left:40px; padding-bottom:40px;}

	
.titlerow{text-align:center;}
.navhome{padding-top: 0px;}

.projecttypes{font-size:25px; padding-top:100px; padding-bottom:60px; line-height: .9;}




.copy{font-size:14px;}


.pagetitle{font-size:30px; text-align: center;line-height: .8}

.buttons{padding-top:210px;}



.bookbuttons{padding-top:70px; height:20px;}

.inline{display:inline;}

.buttons{padding:10px;}

.arrows{padding-top:300%; }

.bold{font-family: 'Cutive', serif; font-size:14px;}

#beforeafter{text-align: center;}


.before, .after, .before1, .after1{cursor:pointer;}
.before:hover, .after:hover, .before1:hover, .after1:hover {text-decoration: underline;}

.apppromo{padding-top:0;}
.after:hover{text-decoration: underline;}

.pictures{text-align: center;}

.copy{padding-top:10%;}

.mainname{font-size: 55px; line-height: .7; padding-top:20px; padding-bottom:20px;}


.beforeafter{max-width: 100%; height:auto;}

.indicators{border:1px solid black;}

.subtitle{font-size:18px; padding-top:100px}

.item{padding-top:60px;}


.logo{padding-top:60px;}

video{width:700px;}



.blogblock{padding-top:120px;}


.blogtext{padding-top:30px;}

.blogtitle{padding-bottom:40px;}

.blogsubhead{padding-bottom:20px; margin-top:-20px; text-align: right; font-weight:600;}

.boxshadow{box-shadow:10px 10px 20px gray;}


.afterafter{padding:15px;}

.research{padding-bottom:50px;}


#myCarousel{padding-bottom:80px;}

@media (max-width: 767px) {.navigation{padding-left:15px; text-align: center;} }


@media (max-width: 767px) {.pictures{margin-left:20%; text-align: center;} }


@media (max-width: 767px) {.pagetitle{padding-top:10px; text-align:center;} }

@media (max-width:767px) {li{border:1px dotted black;}}





@media (min-width: 767px) {.navigation{padding-top:15px;}}


@media (max-width:627px) {.pagetitle{font-size:30px;}}

@media (max-width:500px) {.navigationpages_item{font-size:10px;}}


@media (min-width:500px) {.gd2pics{margin-left:35%}}

@media (min-width:900px) {.gd2pics{margin-left:37%}}

@media (max-width:500px) {.blogtitle{padding-bottom:10px;}}

@media (max-width:500px) {.blogblock{padding-top:7px;}}
